:root{
    --dBlue: #05122d;
    --mBlue: #142750;
    --laranja: #fca311;
    --cinza: #e5e5e5;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    background-color: var(--dBlue);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: var(--dBlue) 0px 5px 15px;
    animation: fromTop 1s ease-in-out;
    z-index: 999;
}

@keyframes fromTop {
    0%{
        transform: translate(-100px);    
    }
    100%{
        transform: translate(0);
    }
}

nav a {
    color: var(--laranja);
    text-decoration: none;
    opacity: 0.8;
    transition: all 200ms ease-in-out;
}

nav a:houver {
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
    color: var(--light);
}

#s1 {
    height: 80vh;
    min-height: 80vh;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imgDiv {
    background-color: rgb(240, 219, 128);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    overflow: hidden;
    box-shadow: 0px 3px 10px var(--dBlue);
}

.imgStyle {
    width: auto;
    height: 300px;
    filter: grayscale(1);
    transition: all 200ms ease-in-out;
}
.imgStyle:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.textDiv {
    width: 600px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#s2 {
    color: var(--light);
    min-height: 100vh;
    background-image: url(./imagens/ykej788jikg71.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#s2 h1 {
    font-size: ;
}

.wrapCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.cards {
    border: 3px solid var(--light);
    padding: 20px;
    background-color: #00000084;
    border-radius: 20px;
    transition: all 200ms linear;
}



.cards h3 {
    color: var(--laranja);
    text-shadow: 0px 3px 10px var(--laranja);
    margin-bottom: 20px;

}

.cards a {
    color: var(--laranja);
    font-style: italic;
    
}

hr {
    margin-bottom: 20px;
    margin-top: 10px;
}

#s3 {
    min-height: 100vh;
    padding-top: 50px;
}

#s4 {
    min-height: 100vh;
    padding-top: 50px;
}

@media (width <= 1000px) {
    #s1 {
        height: auto;
        min-height: 85vh;
    }
 
    .textDiv {
        width: 100%;
    }
 
    .textDiv h2 {
        font-size: 30px;
    }
 
    .textDiv p {
        font-size: 20px;
    }
 
    .imgDiv {
      margin-top: 20px;
    }
}